<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Jännä Foorumi</title>
    </head>

    <body>
        <h1>Heippa vaan!</h1>
        <div class="nimet" th:each="alue : ${alueet}">
            <a th:href="@{'~/alue/'+${alue.id}}" th:text="${alue}"></a>
        </div>
        <div class="viimeisinViesti" th:each="viimeisinViesti : ${viimeisimmatViestit}">
            <span th:text="${viimeisinViesti != null} ? ${viimeisinViesti.aikaleima} : '-'"></span>
        </div>

    </body>
</html>
