<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>F-orum</title>
        <style>
            .container {
                display: flex;
            }

            .nimet_linkit {
                padding-right: 50px;
                flex-grow: 1;
            }

            .viestimaarat {
                margin-left: 20px;
                width: 150px;
            }

            .aikaleimat {
                width: 300px;
            }

            .input {
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <h1>F-orum</h1>
        <div class="container">
            <div class="nimet" >
                <h2> Keskustelualue </h2>
                <p th:each="alue : ${alueet}"> <a th:href="@{'~/alue/'+${alue.id}+'?sivu=0'}" th:text="${alue}"></a></p>
            </div>
            <div class="viestimaarat" >
                <h2>Viestejä</h2>
                <p th:each="viestimaara : ${viestimaarat}" th:text="${viestimaara}"></p>
            </div>
            <div class="aikaleimat" >
                <h2>Viimeisin viesti</h2>
                <p th:each="viimeisinViesti : ${viimeisimmatViestit}" th:text="${viimeisinViesti != null} ? ${viimeisinViesti.aikaleima} : '-'"></p>
            </div>
        </div>
        <div class="input">
            <form method="POST">
                Lisää keskustelualue:<br/>
                <input type="text" name="nimi" placeholder="Alueen nimi" maxlength="100"/>
                <input type="submit" name="luo" value="Lisää" />
            </form>
        </div>

    </body>
</html>
