<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta charset="utf-8" />
        <style>
            .container {
                display: flex;
            }

            .nimet_linkit {
                padding-right: 50px;
                flex-grow: 1;
            }

            .viestimaarat {
                width: 150px;
            }

            .aikaleimat {
                width: 300px;
            }
        </style>
    </head>

    <body>
        <h1 th:text="'Alue: ' + ${AlueenNimi}" >otsikko</h1>
        
        <div class="container">
            <div class="nimet_linkit" >
                <p>Viestiketjun aihe</p>
                <p th:each="ketju : ${ketjut}"><a  th:href="@{'~/ketju/'+${ketju.id}+'?sivu=0'}" th:text="${ketju.aihe}"></a></p>
            </div>
            <div class="viestimaarat" >
                <p>Viestien määrä</p>
                <p th:each="viestimaara : ${viestimaarat}" th:text="${viestimaara}"></p>
            </div>
            <div class="aikaleimat" >
                <p>Viimeisin viesti</p>
                <p th:each="viimeisin : ${viimeisimmatViestit}" th:text="${viimeisin.aikaleima}"></p>
            </div>

        </div>
        <div>
            <form method="POST" id="keskustelualueform">

                Aihe:<input type="text" name="aihe" /><br />
                <textarea name="sisalto" rows="15" cols="100">Kirjoita viestiketjun ensimmäinen viesti tähän</textarea><br />
                Nimimerkki:<input type="text" name="nimimerkki" /><br/>
                <input type="submit" name="viestitä" />
            </form>
        </div>

    </body>
</html>
