<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="'F-orum: ' + ${AlueenNimi}"></title>
        <meta charset="utf-8" />
        <style>
            .container {
                display: flex;
            }

            .nimet_linkit {
                padding-right: 50px;
                flex-grow: 1;
            }

            .viestimaarat {
                margin-left: 20px;
                width: 150px;
            }

            .aikaleimat {
                width: 300px;
            }
            
            .input {
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <h1 th:text="'Alue: ' + ${AlueenNimi}"></h1>
        <a th:href="@{~/}" th:text='Takaisin'></a>


        <div class="container">
            <div class="nimet_linkit" >
                <h2>Viestiketjun aihe</h2>
                <p th:each="ketju : ${ketjut}"><a  th:href="@{'~/ketju/'+${ketju.id}+'?sivu=0'}" th:text="${ketju.aihe}"></a></p>
            </div>
            <div class="viestimaarat" >
                <h2>Viestejä</h2>
                <p th:each="viestimaara : ${viestimaarat}" th:text="${viestimaara}"></p>
            </div>
            <div class="aikaleimat" >
                <h2>Viimeisin viesti</h2>
                <p th:each="viimeisin : ${viimeisimmatViestit}" th:text="${viimeisin.aikaleima}"></p>
            </div>
        </div>
        <div class='sivu_linkit'>
            <span>Sivu: </span>
            <a th:each="i : ${#numbers.sequence(0, ketjujenMaara / 10)}" th:href="@{'~/alue/'+${alue.id}+'?sivu='+${i}}" th:text="'['+${i}+']'"></a>
        </div>
        <div class="input">
            Luo uusi viestiketju:
            <form method="POST" id="keskustelualueform">
                <input type="text" name="aihe" placeholder="Ketjun aihe" maxlength="100"/><br />
                <textarea name="sisalto" rows="15" cols="100" placeholder="Viesti" maxlength="5000"></textarea><br />
                <input type="text" name="nimimerkki" placeholder="Nimimerkki" maxlength="30"/><br/>
                <input type="submit" name="viestitä" value="Luo viestiketju"/>
            </form>
        </div>

    </body>
</html>
