/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Feb-2017, 16:18:29
    Author     : ttiira
*/


.container {
    display: flex;
}

.nimet_linkit {
    width: 400px;
}

.viestimaarat {
    flex-grow: 0.5;
}

.aikaleimat {
    flex-grow: 0.5;
}