<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1></h1>
        <div class="container">
            <div th:each="viesti : ${viestit}">
                <span th:text="${viesti.sisalto}"></span>
            </div>
        </div>
        <div class="sivu_linkit">
            <span>Sivu: </span>
            <a th:each="i : ${#numbers.sequence(0, viestimaara / 10)}" th:href="@{'~/ketju/'+${ketju.id}+'?sivu='+${i}}" th:text="'['+${i}+']'"></a>
        </div>
        <div>
            <form method="POST">
                <textarea name="sisalto" rows="15" cols="100">Kirjoita viestiketjun ensimmäinen viesti tähän</textarea><br />
                Nimimerkki:<input type="text" name="nimimerkki" /><br />
                <input type="submit" name="viestitä" />
            </form>
        </div>

    </body>
</html>
