<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta charset="utf-8" />
        <style>
            .viestiContainer {
                margin-top: 10px;
                display: table;
                border: 2px solid black;
            }

            .viestinTiedot {
                padding: 2px;
                border-bottom: 2px solid gainsboro;
            }

            .viestinSisalto {
                padding: 2px;
            }
        </style>
    </head>

    <body>
        <h1 >
            <a th:href="@{'~/alue/'+${alue.id}+'?sivu=0'}" th:text="${alue.nimi}"></a>
            <span th:text="'-->'+${ketjunNimi}"></span>
        </h1>
        <div class="viestiContainer" th:each="viesti : ${viestit}">
            <div class="viestinTiedot">
                <span th:text="${viesti.nimimerkki}+' '+${viesti.aikaleima}"></span>
            </div>
            <div class="viestinSisalto">
                <span th:text="${viesti.sisalto}"></span>
            </div>
        </div>
        <div class="sivu_linkit">
            <span>Sivu: </span>
            <a th:each="i : ${#numbers.sequence(0, viestimaara / 10)}" th:href="@{'~/ketju/'+${ketju.id}+'?sivu='+${i}}" th:text="'['+${i}+']'"></a>
        </div>
        <div>
            <form method="POST">
                <textarea name="sisalto" rows="15" cols="100">Kirjoita viestiketjun ensimmäinen viesti tähän</textarea><br />
                Nimimerkki:<input type="text" name="nimimerkki" /><br />
                <input type="submit" name="viestitä" />
            </form>
        </div>

    </body>
</html>
